In [1]:
#import modules
import re
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [36]:
#to get list of states from other notebook
!pip install import_ipynb

Collecting import_ipynb
  Downloading https://files.pythonhosted.org/packages/63/35/495e0021bfdcc924c7cdec4e9fbb87c88dd03b9b9b22419444dc370c8a45/import-ipynb-0.1.3.tar.gz
Building wheels for collected packages: import-ipynb
  Running setup.py bdist_wheel for import-ipynb ... done
  Stored in directory: /Users/roberthillery/Library/Caches/pip/wheels/b4/7b/e9/a3a6e496115dffdb4e3085d0ae39ffe8a814eacc44bbf494b5
Successfully built import-ipynb
Installing collected packages: import-ipynb
Successfully installed import-ipynb-0.1.3

In [37]:
import import_ipynb

In [38]:
from wage_data import states_final

importing Jupyter notebook from wage_data.ipynb
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
 <head>
  <title>
   U.S. Department of Labor - Wage &amp; Hour Divisions (WHD) - CHANGES IN BASIC MINIMUM WAGES IN NON-FARM EMPLOYMENT UNDER STATE LAW: SELECTED YEARS 1968 TO 2017
  </title>
  <meta content="US Department of Labor: WHD's mission is to enhance the welfare and protect the rights of American workers by enforcing employment laws." name="description"/>
  <meta content="employment laws, working conditions, minimum wages, employment rules, work rules, work laws, federal law work, contract compliance, office labor management standards, workers compensation, workers compensation programs, workers compensation law, fair labor standards act, FMLA" name="keywords"/>
  <!-- begin dol-styles.shtm -->
  <!-- Begin Customer Satisfaction Survey

<script>(function(e,t,o,c){var n,s,a;e.SMCX=e.SMCX||[],t.getElementById(c)||(n=t.getElementsByTagName(o),s=n[n.length-1]
['7.25', '7.75', '7.80', '7.25', '8.00', '7.78', '8.25', '7.25', '7.79', '7.25', '7.25', '7.25', '7.25', '7.25', '7.25', '7.25', '7.25', '7.25', '7.50', '7.25', '8.00', '7.25', '7.25', '7.25', '7.35', '7.25', '7.25', '7.25', '7.25', '7.25', '7.50', '7.25', '7.25', '7.25', '7.85', '7.25', '8.95', '7.25', '7.75', '7.25', '7.25', '7.25', '7.25', '7.25', '7.25', '7.25', '9.19', '7.25', '7.25', '5.15', '8.25']

In [13]:
#read excel file
df_dict = pd.read_excel("county_data.XLSX", sheet_name='Life expectancy')

In [222]:
#make it a dataframe 
df = pd.DataFrame(df_dict, columns=df_dict.keys())
df.head()

,Life expectancy,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Location,FIPS,"Life expectancy, 1980*","Life expectancy, 1985*","Life expectancy, 1990*","Life expectancy, 1995*","Life expectancy, 2000*","Life expectancy, 2005*","Life expectancy, 2010*","Life expectancy, 2014*","% Change in Life Expectancy, 1980-2014"
1,United States,NaN,"73.75 (73.73, 73.77)","74.72 (74.71, 74.74)","75.39 (75.38, 75.41)","75.86 (75.85, 75.88)","76.94 (76.92, 76.95)","77.65 (77.61, 77.68)","78.82 (78.81, 78.84)","79.08 (79.04, 79.11)","7.22 (7.16, 7.27)"
2,Alabama,1,"72.29 (72.21, 72.37)","73.10 (73.02, 73.19)","73.50 (73.42, 73.57)","73.78 (73.70, 73.85)","74.46 (74.39, 74.53)","74.71 (74.62, 74.79)","75.58 (75.51, 75.65)","75.65 (75.57, 75.72)","4.65 (4.48, 4.82)"
3,"Autauga County, Alabama",1001,"71.99 (71.33, 72.63)","72.70 (72.10, 73.32)","73.10 (72.54, 73.66)","73.69 (73.22, 74.20)","74.55 (74.10, 75.04)","74.71 (74.23, 75.20)","75.74 (75.25, 76.25)","75.67 (75.15, 76.18)","5.10 (3.86, 6.43)"
4,"Baldwin County, Alabama",1003,"74.07 (73.60, 74.58)","74.92 (74.48, 75.37)","75.31 (74.88, 75.71)","75.79 (75.40, 76.20)","76.80 (76.45, 77.17)","77.09 (76.72, 77.47)","77.80 (77.45, 78.14)","78.08 (77.72, 78.43)","5.41 (4.51, 6.26)"

In [225]:
#Look at keys, columns, and the len of df
df_dict.keys(),df.columns, len(df)

(Index(['Life expectancy', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
        'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
        'Unnamed: 9', 'Unnamed: 10'],
       dtype='object'),
 Index(['Life expectancy', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
        'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
        'Unnamed: 9', 'Unnamed: 10'],
       dtype='object'),
 3197)

In [226]:
#get the data for one year
just_2014 = df.drop(df.columns[[1,2,3,4,5,6,7,8, 10]], axis=1)
just_2014.columns = ['Location', 'Life expectancy 2014']
just_2014.head()

                  Location    Life expectancy 2014
0                 Location  Life expectancy, 2014*
1            United States    79.08 (79.04, 79.11)
2                  Alabama    75.65 (75.57, 75.72)
3  Autauga County, Alabama    75.67 (75.15, 76.18)
4  Baldwin County, Alabama    78.08 (77.72, 78.43)

In [227]:
#get just the state data
le_state = just_2014.loc[just_2014['Location'].isin(states_final)]
le_state.head()

       Location  Life expectancy 2014
2       Alabama  75.65 (75.57, 75.72)
70       Alaska  78.41 (78.16, 78.69)
100     Arizona  79.58 (79.50, 79.67)
116    Arkansas  76.18 (76.09, 76.26)
192  California  80.82 (80.77, 80.86)

In [231]:
#get just the county data by subtracting out the state data along with the first and last rows
l_e_county = just_2014.loc[-just_2014['Location'].isin(states_final)][2:-2]

#reset column index 
l_e_county = l_e_county.reset_index(drop=True)
#le_county = just_2014.loc[just_2014['Location'].isin(states_final)]
l_e_county.head()

                  Location  Life expectancy 2014
0  Autauga County, Alabama  75.67 (75.15, 76.18)
1  Baldwin County, Alabama  78.08 (77.72, 78.43)
2  Barbour County, Alabama  75.42 (74.78, 76.07)
3     Bibb County, Alabama  73.97 (73.28, 74.68)
4   Blount County, Alabama  76.16 (75.66, 76.69)

In [195]:
#want to split county and state, as well as just get mean life expectancy

In [232]:
#l_e_county['Location' :"Aleutians East Borough"]

c_split = l_e_county.loc[:]['Location'].str.split(',', expand=True)
c_split.columns = ['County', 'State']

In [233]:
le = l_e_county.loc[:]['Life expectancy 2014'][:].str.split(expand=True)
le_only = le.iloc[:,0]
c_split['Life expectancy 2014'] = le_only
final_county = c_split
final_county.head()

           County     State Life expectancy 2014
0  Autauga County   Alabama                75.67
1  Baldwin County   Alabama                78.08
2  Barbour County   Alabama                75.42
3     Bibb County   Alabama                73.97
4   Blount County   Alabama                76.16

In [239]:
#to search for a specific county
final_county.loc[final_county['County'] == 'Aleutians East Borough']

                    County    State Life expectancy 2014
67  Aleutians East Borough   Alaska                83.73