In [11]:
#import modules
import re
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
#to get list of states from other notebook
!pip install import_ipynb

Requirement already satisfied: import_ipynb in /Users/roberthillery/anaconda3/lib/python3.6/site-packages (0.1.3)

In [13]:
import import_ipynb

In [14]:
from wage_data import states_final

ImportError: cannot import name 'states_final'

In [ ]:
#read excel file
df_dict = pd.read_excel("county_data.XLSX", sheet_name='Life expectancy')

In [ ]:
#make it a dataframe 
df = pd.DataFrame(df_dict, columns=df_dict.keys())
df.head()
len(df)

In [ ]:
#Look at keys, columns, and the len of df
df_dict.keys(),df.columns, len(df)

In [ ]:
#get the data for one year
just_2010 = df.drop(df.columns[[1,2,3,4,5,6,7,9, 10]], axis=1)
just_2010.columns = ['Location', 'Life expectancy 2010']
just_2010.head()

In [ ]:
#get just the state data
le_state = just_2010.loc[just_2014['Location'].isin(states_final)]
le_state.head()

In [ ]:
#get just the county data by subtracting out the state data along with the first and last rows
l_e_county = just_2014.loc[-just_2014['Location'].isin(states_final)][2:-2]

#reset column index 
l_e_county = l_e_county.reset_index(drop=True)
#le_county = just_2014.loc[just_2014['Location'].isin(states_final)]
l_e_county.head(10)
len(l_e_county)

In [ ]:
#want to split county and state, as well as just get mean life expectancy

In [ ]:
#l_e_county['Location' :"Aleutians East Borough"]

c_split = l_e_county.loc[:]['Location'].str.split(',', expand=True)
c_split.columns = ['County', 'State']

In [258]:
#split the life expectancy and the range
le = l_e_county.loc[:]['Life expectancy 2010'][:].str.split(expand=True)
#just grab the life expectancy
le_only = le.iloc[:,0]
c_split['Life expectancy 2010'] = le_only
final_county = c_split
len(final_county)

3142

In [257]:
final_county.to_csv('csv_files/life_expectancy_data_county.csv', encoding='utf-8', index=False)

In [249]:
#to search for a specific county
final_county.loc[final_county['County'] == 'Aleutians East Borough']

                    County    State Life expectancy 2010
67  Aleutians East Borough   Alaska                82.76