In [1]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
html_page = requests.get('https://www.dol.gov/whd/state/stateMinWageHis.htm') 
soup = BeautifulSoup(html_page.content, 'html.parser')

In [3]:
print(soup.prettify()[:1000])

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
 <head>
  <title>
   U.S. Department of Labor - Wage &amp; Hour Divisions (WHD) - CHANGES IN BASIC MINIMUM WAGES IN NON-FARM EMPLOYMENT UNDER STATE LAW: SELECTED YEARS 1968 TO 2017
  </title>
  <meta content="US Department of Labor: WHD's mission is to enhance the welfare and protect the rights of American workers by enforcing employment laws." name="description"/>
  <meta content="employment laws, working conditions, minimum wages, employment rules, work rules, work laws, federal law work, contract compliance, office labor management standards, workers compensation, workers compensation programs, workers compensation law, fair labor standards act, FMLA" name="keywords"/>
  <!-- begin dol-styles.shtm -->
  <!-- Begin Customer Satisfaction Survey

<script>(function(e,t,o,c){var n,s,a;e.SMCX=e.SMCX||[],t.getElementById(c)||(n=t.getElementsByTagName(o),s=n[n.length-1]

In [28]:
#wages_script = soup.find_all(summary ='This is a table of minimum changes by state for 2007 to 2013' ) #{"summary":'This is a table of minimum changes by state for 2007 to 2013'})
wages_script = soup.findChildren('table', {"class":'minwage', 'summary':"This is a table of minimum changes by state for 2007 to 2013." })

In [104]:
#wages_script

In [38]:
more_wages = wages_script[0]

In [62]:
more_wages('tr')[2]('td')

[<td>Alabama</td>,
 <td>...</td>,
 <td>...</td>,
 <td>...</td>,
 <td>...</td>,
 <td>...</td>,
 <td>...</td>,
 <td>...</td>]

In [70]:
more_wages('tr')[3]('td')[0].get_text()

'Alaska'

In [105]:
more_wages('tr')[3]('td')[-4]

In [106]:
more_wages('tr')[52]('td')

[<td>District
       of Columbia</td>,
 <td><strong>7.00</strong></td>,
 <td>7.00</td>,
 <td><strong>7.55
       </strong></td>,
 <td><strong>8.25
       </strong></td>,
 <td>8.25</td>,
 <td>8.25</td>,
 <td>8.25</td>]

In [112]:
df_states = pd.DataFrame(states_final, columns=["states"])
df_states.to_csv('states_list.csv', index=False)

In [107]:
states_alpha = []
states_final = []
for i in range(2,53):
    state_names = more_wages('tr')[i]('td')[0].get_text()
    states_alpha.append(state_names)
states_alpha
for i in states_alpha:
    cleaned_states = re.sub('[^a-zA-Z]+', ' ', i)
    states_final.append(cleaned_states)
states_final

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming',
 'District of Columbia']

In [110]:
min_wage_list = []
for i in range(2,53):
    min_wage_list.append(more_wages('tr')[i]('td')[-4].get_text())
min_wage_fed = []
for i in min_wage_list:
    if len(i) != 4:
        i = '7.25'
    min_wage_fed.append(i)
print(min_wage_fed)

['7.25', '7.75', '7.25', '7.25', '8.00', '7.24', '8.25', '7.25', '7.25', '7.25', '7.25', '7.25', '7.25', '7.25', '7.25', '7.25', '7.25', '7.25', '7.50', '7.25', '8.00', '7.25', '7.25', '7.25', '7.25', '7.25', '7.25', '7.25', '7.25', '7.25', '7.50', '7.25', '7.25', '7.25', '7.30', '7.25', '8.40', '7.25', '7.40', '7.25', '7.25', '7.25', '7.25', '7.25', '7.25', '7.25', '8.55', '7.25', '7.25', '5.15', '7.25']

In [111]:
min_wage_fed

['7.25',
 '7.75',
 '7.25',
 '7.25',
 '8.00',
 '7.24',
 '8.25',
 '7.25',
 '7.25',
 '7.25',
 '7.25',
 '7.25',
 '7.25',
 '7.25',
 '7.25',
 '7.25',
 '7.25',
 '7.25',
 '7.50',
 '7.25',
 '8.00',
 '7.25',
 '7.25',
 '7.25',
 '7.25',
 '7.25',
 '7.25',
 '7.25',
 '7.25',
 '7.25',
 '7.50',
 '7.25',
 '7.25',
 '7.25',
 '7.30',
 '7.25',
 '8.40',
 '7.25',
 '7.40',
 '7.25',
 '7.25',
 '7.25',
 '7.25',
 '7.25',
 '7.25',
 '7.25',
 '8.55',
 '7.25',
 '7.25',
 '5.15',
 '7.25']

In [100]:
len(list(zip(states_final, min_wage_fed)))

51

In [102]:
final_wages = list(zip(states_final, min_wage_fed))

In [114]:
type(final_wages)

list

In [116]:
df = pd.DataFrame(final_wages, columns=['County', 'Min Wage'])

In [118]:
df.head()

       County Min Wage
0     Alabama     7.25
1      Alaska     7.75
2     Arizona     7.80
3    Arkansas     7.25
4  California     8.00

In [119]:
df.to_csv('csv_files/wage_data_state.csv', encoding='utf-8', index=False)