# Make the dataframe to run Regressions on

In [229]:
#import modules
import re
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Import data with County and States together

In [230]:
df_wage = pd.read_csv('csv_files/wage_data_state.csv')
df_smoke = pd.read_csv('csv_files/smoking_FINAL.csv')
df_life = pd.read_csv('csv_files/life_expectancy_data_county.csv')
df_obesity = pd.read_csv('csv_files/obesity_FINAL.csv')
df_food = pd.read_csv('csv_files/food_stamps_FINAL.csv')
df_unemployment = pd.read_csv('csv_files/unemployment_FINAL.csv')

In [231]:
# Clean life by state

# Doing this here because it's in a weird formate
df_life['CountyState'] = df_life['County'].map(str) + " " +df_life['State']

df_life.head()

           County     State  Life expectancy 2010              CountyState
0  Autauga County   Alabama                 75.74  Autauga County  Alabama
1  Baldwin County   Alabama                 77.80  Baldwin County  Alabama
2  Barbour County   Alabama                 75.34  Barbour County  Alabama
3     Bibb County   Alabama                 74.13     Bibb County  Alabama
4   Blount County   Alabama                 76.41   Blount County  Alabama

In [232]:
len(df_smoke), len(df_life), len(df_food)

(3127, 3142, 3136)

In [233]:
df_smoke.head()

,County,Percent Smokers,State Ab,State,CountyState
0,Autauga County,25.8,Alabama,Alabama,Autauga County Alabama
1,Baldwin County,23.0,Alabama,Alabama,Baldwin County Alabama
2,Barbour County,26.8,Alabama,Alabama,Barbour County Alabama
3,Bibb County,30.1,Alabama,Alabama,Bibb County Alabama
4,Blount County,27.9,Alabama,Alabama,Blount County Alabama

In [234]:
df_life.head()

           County     State  Life expectancy 2010              CountyState
0  Autauga County   Alabama                 75.74  Autauga County  Alabama
1  Baldwin County   Alabama                 77.80  Baldwin County  Alabama
2  Barbour County   Alabama                 75.34  Barbour County  Alabama
3     Bibb County   Alabama                 74.13     Bibb County  Alabama
4   Blount County   Alabama                 76.41   Blount County  Alabama

In [235]:
# merging food to life and creating a final dataframe 

final_df = pd.merge(df_life, df_smoke.drop_duplicates(subset=['CountyState']), on='CountyState')
final_df.tail()

,County_x,State_x,Life expectancy 2010,CountyState,County_y,Percent Smokers,State Ab,State_y
3081,Sweetwater County,Wyoming,77.93,Sweetwater County Wyoming,Sweetwater County,25.6,Wyoming,Wyoming
3082,Teton County,Wyoming,82.95,Teton County Wyoming,Teton County,12.7,Wyoming,Wyoming
3083,Uinta County,Wyoming,77.51,Uinta County Wyoming,Uinta County,22.7,Wyoming,Wyoming
3084,Washakie County,Wyoming,78.77,Washakie County Wyoming,Washakie County,22.6,Wyoming,Wyoming
3085,Weston County,Wyoming,78.64,Weston County Wyoming,Weston County,24.6,Wyoming,Wyoming

In [236]:
# clean final
final_df.rename(columns={'County_x':'County', 'State_x':'State'}, inplace=True)

final_df = final_df.drop(columns=['County_y', 'State Ab', 'State_y'])
final_df['CountyState'].dtype

dtype('O')

In [237]:
#take out extra space in final_df county state
final_df['CountyState'] = final_df['CountyState'].apply(lambda x: x.replace("  ", " "))
df_food['CountyState'] = df_food['CountyState'].apply(lambda x: x.replace("  ", " "))

In [238]:
final_df.tail()

,County,State,Life expectancy 2010,CountyState,Percent Smokers
3081,Sweetwater County,Wyoming,77.93,Sweetwater County Wyoming,25.6
3082,Teton County,Wyoming,82.95,Teton County Wyoming,12.7
3083,Uinta County,Wyoming,77.51,Uinta County Wyoming,22.7
3084,Washakie County,Wyoming,78.77,Washakie County Wyoming,22.6
3085,Weston County,Wyoming,78.64,Weston County Wyoming,24.6

In [239]:
# merging food to final dataframe

something = pd.merge(df_food, final_df, on='CountyState', how='left').dropna()
something.tail()

,Jan & July Public Assist. Participation,Jan & July Non-Public Assist. Participation,Jan & July TOTAL Assist. Participation,CountyState,County,State,Life expectancy 2010,Percent Smokers
3095,197,14257,14454,Rusk County Texas,Rusk County,Texas,76.04,26.2
3101,332,24483,24815,Taylor County Texas,Taylor County,Texas,76.71,22.6
3107,15,1298,1313,Washington County Texas,Washington County,Texas,78.57,20.6
3112,142,14238,14380,Wood County Texas,Wood County,Texas,76.67,26.2
3122,87,11455,11542,Johnson County Texas,Johnson County,Texas,76.84,24.6

In [240]:
# merging obesity to final dataframe

final_w_o = pd.merge(df_obesity, something, on='CountyState', how='left').dropna()
final_w_o.tail()

,Percent Obese,CountyState,Jan & July Public Assist. Participation,Jan & July Non-Public Assist. Participation,Jan & July TOTAL Assist. Participation,County,State,Life expectancy 2010,Percent Smokers
2866,9447,Wood County Texas,142.0,14238.0,14380.0,Wood County,Texas,76.67,26.2
2973,19155,Montgomery County Virginia,3240.0,7444.0,10684.0,Montgomery County,Virginia,79.12,18.1
2977,2993,Northumberland County Virginia,2180.0,9979.0,12159.0,Northumberland County,Virginia,79.25,22.9
2979,8220,Orange County Virginia,3001.0,8868.0,11869.0,Orange County,Virginia,78.69,23.0
3169,19847,Jefferson County Wisconsin,502.0,6167.0,6669.0,Jefferson County,Wisconsin,80.20,22.3

In [241]:
# merging unemployment to final dataframe

final_w_un = pd.merge(df_unemployment, final_w_o, on='CountyState', how='left').dropna()
final_w_un.tail()

,Unemployment_rate_2010,CountyState,Percent Obese,Jan & July Public Assist. Participation,Jan & July Non-Public Assist. Participation,Jan & July TOTAL Assist. Participation,County,State,Life expectancy 2010,Percent Smokers
2857,9.1,Wood County Texas,9447,142.0,14238.0,14380.0,Wood County,Texas,76.67,26.2
2964,7.1,Montgomery County Virginia,19155,3240.0,7444.0,10684.0,Montgomery County,Virginia,79.12,18.1
2968,8.7,Northumberland County Virginia,2993,2180.0,9979.0,12159.0,Northumberland County,Virginia,79.25,22.9
2970,8.3,Orange County Virginia,8220,3001.0,8868.0,11869.0,Orange County,Virginia,78.69,23.0
3159,8.7,Jefferson County Wisconsin,19847,502.0,6167.0,6669.0,Jefferson County,Wisconsin,80.20,22.3

In [242]:
final_w_un['State'] = final_w_un['State'].apply(lambda x: x.replace(" ", ""))

In [243]:
df_wage['State'] = df_wage['State'].apply(lambda x: x.replace(" ", ""))

final_w_un.tail()

,Unemployment_rate_2010,CountyState,Percent Obese,Jan & July Public Assist. Participation,Jan & July Non-Public Assist. Participation,Jan & July TOTAL Assist. Participation,County,State,Life expectancy 2010,Percent Smokers
2857,9.1,Wood County Texas,9447,142.0,14238.0,14380.0,Wood County,Texas,76.67,26.2
2964,7.1,Montgomery County Virginia,19155,3240.0,7444.0,10684.0,Montgomery County,Virginia,79.12,18.1
2968,8.7,Northumberland County Virginia,2993,2180.0,9979.0,12159.0,Northumberland County,Virginia,79.25,22.9
2970,8.3,Orange County Virginia,8220,3001.0,8868.0,11869.0,Orange County,Virginia,78.69,23.0
3159,8.7,Jefferson County Wisconsin,19847,502.0,6167.0,6669.0,Jefferson County,Wisconsin,80.20,22.3

In [245]:
# last to add min wage by state, not county
# last to add min wage by state, not countydf_ow = df_obesity.merge(df_wage, on=['State'], how='outer')

# final = final_w_un.merge(df_wage, on=['State'], how='left')
# final.head()


final = pd.merge(final_w_un, df_wage, on='State', how='left').dropna()
final.tail()

#df_wage

,Unemployment_rate_2010,CountyState,Percent Obese,Jan & July Public Assist. Participation,Jan & July Non-Public Assist. Participation,Jan & July TOTAL Assist. Participation,County,State,Life expectancy 2010,Percent Smokers,Min Wage
551,9.1,Wood County Texas,9447,142.0,14238.0,14380.0,Wood County,Texas,76.67,26.2,7.25
552,7.1,Montgomery County Virginia,19155,3240.0,7444.0,10684.0,Montgomery County,Virginia,79.12,18.1,7.25
553,8.7,Northumberland County Virginia,2993,2180.0,9979.0,12159.0,Northumberland County,Virginia,79.25,22.9,7.25
554,8.3,Orange County Virginia,8220,3001.0,8868.0,11869.0,Orange County,Virginia,78.69,23.0,7.25
555,8.7,Jefferson County Wisconsin,19847,502.0,6167.0,6669.0,Jefferson County,Wisconsin,80.20,22.3,7.25

State       Alabama
Min Wage       7.25
Name: 0, dtype: object